<div class="card bg-white shadow-lg rounded-lg p-6">
    <div class="flex items-center mb-4">
      <i class="fas fa-plus-circle text-2xl text-purple-600 mr-2"></i>
      <h2 class="text-2xl font-bold text-gray-800">Adicionar Produtos</h2>
    </div>
    <form action="{{ url_for('adicionar_produto') }}" method="post" class="flex gap-4">
      <input name="codigo_barras" placeholder="Código de Barras" class="input input-bordered flex-1" autofocus/>
      <input name="quantidade" type="number" value="1" min="1" class="input input-bordered w-24 text-center"/>
      <button type="submit" class="btn btn-primary flex items-center">
        <i class="fas fa-cart-plus mr-2"></i> Adicionar
      </button>
    </form>
  </div>
  